.btn {
    position: relative;
    box-sizing: border-box;
    height: 32px;
    margin: 10px;
    padding: 4px 1em;
    border: 1px solid rgba(153, 153, 153, 1);
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
}

.btn > .value {
    position: relative;
    z-index: 1;
}

.btn > .circle {
    position: absolute;
    z-index: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(153, 153, 153, .2);
    animation: 0.4s wave;
}

@keyframes wave {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(10);
    }
}